# Pandas
Primarily a data analysis library which has matured quite a lot recently. Pandas is able to solve many data handling
problems with high level data structures and manipulation tools built for and around Numpy centric activities.

## Introducing Pandas Objects

1. At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.

2. Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
    - Three fundamental Pandas data structures:
        1. ``Series``
        2. ``DataFrame``
        3. ``Index``.

## Series
Series is a one dimensional array like object containing an array of data and data associated labels called index. lets 
see an example

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=[4,8,9,-1]
dataSeries=pd.Series(data)

print dataSeries
print 
print "Indexes of the series : ", dataSeries.index
print
print "Values : ", dataSeries.values

0    4
1    8
2    9
3   -1
dtype: int64

Indexes of the series :  Int64Index([0, 1, 2, 3], dtype='int64')

Values :  [ 4  8  9 -1]

lets Give the Series our custom labels

In [4]:
data=[4,8,9,-1]
labels=['a','b','c','d']
dataSeries=pd.Series(data=data,index=labels)

print dataSeries
print 
print "Indexes of the series : ", dataSeries.index
print
print "Values : ", dataSeries.values

a    4
b    8
c    9
d   -1
dtype: int64

Indexes of the series :  Index([u'a', u'b', u'c', u'd'], dtype='object')

Values :  [ 4  8  9 -1]

### Accessing Values

We can access the values using the indexes. In the example above we used```[a,b,c,d]``` as indexes so we can use them to access values :

In [5]:
print "Value ad index 'a' is : ", dataSeries['a']
print 
idx=['a','c']
print "Values as indexes", idx, " are : "
print dataSeries[idx]

Value ad index 'a' is :  4

Values as indexes ['a', 'c']  are :
a    4
c    9
dtype: int64

Lets try some numpy operation and see there results

In [6]:
print dataSeries[dataSeries<5]

a    4
d   -1
dtype: int64

In [7]:
print dataSeries*2

a     8
b    16
c    18
d    -2
dtype: int64

In [8]:
print np.exp(dataSeries)

a      54.598150
b    2980.957987
c    8103.083928
d       0.367879
dtype: float64

In [9]:
print 'b' in dataSeries

True

In [10]:
print 'e' in dataSeries

False

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [11]:
sdata={'Ohio':3500 , 'Texas':7100 , 'Oregon': 1600 , 'Utah':5000 }
sdata=pd.Series(sdata)
print sdata

Ohio      3500
Oregon    1600
Texas     7100
Utah      5000
dtype: int64

In [12]:
labels=['California','Ohio','Oregon','Texas']
adata=pd.Series(sdata,index=labels)
print adata

California     NaN
Ohio          3500
Oregon        1600
Texas         7100
dtype: float64

pd.isnull and pd.notnull functions must be used to detect the missing value

In [13]:
pd.isnull(adata)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [14]:
pd.notnull(adata)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [15]:
adata+sdata

California      NaN
Ohio           7000
Oregon         3200
Texas         14200
Utah            NaN
dtype: float64

## Dataframe
Dataframe is similar to a data table like a spreadsheet containing ordered collection of columns; each of which can be a 
different type. Dataframe has both a row and column index. Dataframe can be though of a dictionary of Series. Data frame store data internally in two dimensional blocks.

In [24]:
data={
        'state': ['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year': [2000,2001,2002,2001,2002],
        'pop': [1.5,1.7,3.6,2.4,2.9]
     }
dataDF=pd.DataFrame(data)
print dataDF

print dataDF.loc[:, 'state':'state']

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
    state
0    Ohio
1    Ohio
2    Ohio
3  Nevada
4  Nevada

If you specify a sequence of columns, the dataframe will be exactly what you pass

In [17]:
dataDF=pd.DataFrame(data,columns=['year','state','pop'])
print dataDF

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

if you pass a column that does not exists in data it will appear with NA values.

In [35]:
dataDF=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five'])
print dataDF
print "\n\n ye le = " ,dataDF['year'][3]


print dataDF.loc['three']['pop']

dataDF.iloc[2,0]

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN


 ye le =  2001
3.6

2002

### Indexing

You can access the coloumns in a dataframe using either as an attribute, or as a key value pair
- As attribute

In [19]:
dataDF.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

- As Key-Value pair

In [20]:
dataDF['year']

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

* You can access the rows using the _ix_ utility

In [21]:
dataDF.ix[2]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [1]:
# Row selecting using Boolean Indexing

dataDF[data['year']==2002]['state']

NameError: name 'dataDF' is not defined

- A new coloumn can be added by giving same value as all rows as follows

In [ ]:
dataDF['debt']=16.5
dataDF

- Or if you want different values for each row

In [47]:
val=pd.Series(data=[-1.2,-1.5,-1.7],index=['two','four','five'])
val1=pd.Series(data=[1,1,1,1,1],index=['one','two','three','four','five'])
print val, "\n\n"
dataDF['debt']=val1
print dataDF,"\n\n\n\n\n"
dataDF['hello'] = 16.5
dataDF

two    -1.2
four   -1.5
five   -1.7
dtype: float64


       year   state  pop  debt  hello
one    2000    Ohio  1.5     1   16.5
two    2001    Ohio  1.7     1   16.5
three  2002    Ohio  3.6     1   16.5
four   2001  Nevada  2.4     1   16.5
five   2002  Nevada  2.9     1   16.5

       year   state  pop  debt  hello
one    2000    Ohio  1.5     1   16.5
two    2001    Ohio  1.7     1   16.5
three  2002    Ohio  3.6     1   16.5
four   2001  Nevada  2.4     1   16.5
five   2002  Nevada  2.9     1   16.5

- Adding a new column on the fly by simpling assigning a column. The del keyword will delete the specified column.

In [48]:
dataDF['eastern']=dataDF.state=='Ohio'
dataDF

       year   state  pop  debt  hello eastern
one    2000    Ohio  1.5     1   16.5    True
two    2001    Ohio  1.7     1   16.5    True
three  2002    Ohio  3.6     1   16.5    True
four   2001  Nevada  2.4     1   16.5   False
five   2002  Nevada  2.9     1   16.5   False

**P.S : ** In the example above _dataDF.state=='Ohio'_ is creating a boolean array and it is being assigned to a new coloumn in data frame using _dataDF['eastern']= dataDF.state=='Ohio'_ . It is to be noted that "Eastern" coloumn did not exist prior to this statement rather is created on the fly.

- We can also delete a coloumn using the _del_ keyword

In [49]:
del dataDF['eastern']
dataDF

       year   state  pop  debt  hello
one    2000    Ohio  1.5     1   16.5
two    2001    Ohio  1.7     1   16.5
three  2002    Ohio  3.6     1   16.5
four   2001  Nevada  2.4     1   16.5
five   2002  Nevada  2.9     1   16.5

- A row can be deleted using _drop_ function

In [50]:
dataDF.drop('two')

       year   state  pop  debt  hello
one    2000    Ohio  1.5     1   16.5
three  2002    Ohio  3.6     1   16.5
four   2001  Nevada  2.4     1   16.5
five   2002  Nevada  2.9     1   16.5

- We can take the transpose of a dataframe as following

In [51]:
dataDF.T

        one   two three    four    five
year   2000  2001  2002    2001    2002
state  Ohio  Ohio  Ohio  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9
debt      1     1     1       1       1
hello  16.5  16.5  16.5    16.5    16.5

- The reindex function of pandas can re-arrange the rows and coloumns

In [52]:
dataDF.reindex(index=['five','three','two','four','one'])

       year   state  pop  debt  hello
five   2002  Nevada  2.9     1   16.5
three  2002    Ohio  3.6     1   16.5
two    2001    Ohio  1.7     1   16.5
four   2001  Nevada  2.4     1   16.5
one    2000    Ohio  1.5     1   16.5

In [53]:
dataDF.reindex(index=['five','three','two','four','one'],columns=['debt','state','year','pop'])

       debt   state  year  pop
five      1  Nevada  2002  2.9
three     1    Ohio  2002  3.6
two       1    Ohio  2001  1.7
four      1  Nevada  2001  2.4
one       1    Ohio  2000  1.5

- Applying custom functions on pandas

In [ ]:
f=lambda x:x-1
dataDF['year'].apply(f)

In [ ]:
dataDF['pop'].apply(f)

### Sorting in pandas !

- We can sort a dataframe on the basis of index or values

In [ ]:
dataDF.sort_index()

In [ ]:
dataDF.sort_values('pop')

Data frame provide a lot of stats about the values. Lets see the overall statistical map of our dataframe

In [ ]:
dataDF.describe()

- Of if you just want to apply one of the aggregation function

In [ ]:
dataDF.mean()

The following table summarizes some other built-in Pandas aggregations:

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``first()``, ``last()``  | First and last item             |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

These are all methods of ``DataFrame`` and ``Series`` objects.

### Handling Missing data

In [ ]:
data = pd.Series([ "Umman", np.nan,"Samad", None])
print data

**P.S**: Here NAN and None represent missing values, remember that if a value is not provided, pandas fill it with NAN

- One way is to just drop the missing values

In [ ]:
data = data.dropna()
print data

- You can also fill al the NAN and None values with a default value

In [ ]:
data = pd.Series([ "Usman", np.nan,"Samad", None])

data = data.fillna("Default")
print data

**Note : ** IN case of numerical data, these values can be filled with mean or mode etc.

## GroupBy: Split, Apply, Combine

Simple aggregations can give you a flavor of your dataset, but often we would prefer to aggregate conditionally on some label or index: this is implemented in the so-called ``groupby`` operation.
The name "group by" comes from a command in the SQL database language, but it is perhaps more illuminative to think of it in the terms first coined by Hadley Wickham of Rstats fame: *split, apply, combine*.

![](figures/03.08-split-apply-combine.png)

This makes clear what the ``groupby`` accomplishes:

- The *split* step involves breaking up and grouping a ``DataFrame`` depending on the value of the specified key.
- The *apply* step involves computing some function, usually an aggregate, transformation, or filtering, within the individual groups.
- The *combine* step merges the results of these operations into an output array.

While this could certainly be done manually using some combination of the masking, aggregation, and merging commands covered earlier, an important realization is that *the intermediate splits do not need to be explicitly instantiated*. Rather, the ``GroupBy`` can (often) do this in a single pass over the data, updating the sum, mean, count, min, or other aggregate for each group along the way.
The power of the ``GroupBy`` is that it abstracts away these steps: the user need not think about *how* the computation is done under the hood, but rather thinks about the *operation as a whole*.

As a concrete example, let's take a look at using Pandas for the computation shown in this diagram.
We'll start by creating the input ``DataFrame``:

In [ ]:
dataDF.groupby('year')

Notice that what is returned is not a set of ``DataFrame``s, but a ``DataFrameGroupBy`` object.
This object is where the magic is: you can think of it as a special view of the ``DataFrame``, which is poised to dig into the groups but does no actual computation until the aggregation is applied.
This "lazy evaluation" approach means that common aggregates can be implemented very efficiently in a way that is almost transparent to the user.

To produce a result, we can apply an aggregate to this ``DataFrameGroupBy`` object, which will perform the appropriate apply/combine steps to produce the desired result:

In [ ]:
dataDF

In [ ]:
dataDF.groupby('year').sum()

In [ ]:
dataDF.groupby('year').mean()

In [ ]:
dataDF.groupby('year')['pop'].mean()

In [ ]:
dataDF.groupby('year')['pop'].aggregate(['min', np.median, max])

### Transformation

While aggregation must return a reduced version of the data, transformation can return some transformed version of the full data to recombine.
For such a transformation, the output is the same shape as the input.
A common example is to center the data by subtracting the group-wise mean:

In [ ]:
dataDF.groupby('year')['pop'].transform(lambda x: x ** 2)